        * {
            margin: 0;
            padding: 0;
        }

        body {
            background: #2a2438;
            color: #dbd8e3;
            font-family: "Poppins", sans-serif;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 80px;
            background: #352f44;
        }

        nav ul {
            display: flex;
            justify-content: center;
        }

        nav ul li {
            list-style: none;
            margin: 0 23px;
        }

        nav ul li a {
            text-decoration: none;
            color: inherit;
        }

        nav ul li a:hover {
            color: #c7b5ef;
            font-size: 1.1rem;
        }

        main hr {
            margin: 30px 50px;
            border: 0;
            background: #5c5470;
            height: 2px;
            opacity: 40%;
        }

        .first-section {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 32px 0;
        }

        .first-section div {
            width: 30%;
        }

        .left-section {
            font-size: 2.47rem;
        }

        .left-section div {
            width: auto;
        }

        .second-section {
            max-width: 80vw;
            height: 80vh;
            margin: auto;
        }

        .second-section h1 {
            font-size: 1.9rem;
        }

        .second-section .box {
            display: flex;
            background: #dbd8e3;
            width: 80vw;
            height: 2px;
            margin: 56px 0;
        }

        .second-section .box .vertical {
            background: #dbd8e3;
            margin: 0 12.5%;
            height: 90px;
            width: 1px;
        }

        .image-top {
            width: 23px;
            position: relative;
            top: -32px;
            left: -12px;
        }

        .vertical-title {
            position: relative;
            top: 75px;
            left: -56px;
            width: 160px;
        }

        .vertical-desc {
            position: relative;
            top: 86px;
            left: -56px;
            width: 160px;
            color: grey;
            font-size: 10px;
        }

        .text-color {
            color: rgb(123, 123, 230);
        }

        .text-grey {
            color: grey;
        }